body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.desafios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px; 

.desafio {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    text-align: center; 
}

.desafio a {
    display: block; 
    text-decoration: none;
}

.desafio-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.desafios-container a:hover .desafio-image {
    transform: scale(1.1);
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .desafio {
        width: calc(50% - 10px);
    }
}