body {
    background-image: url("perguntas.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center; 
    font-family: sans-serif;
    margin: 0; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: #333; 
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(14, 47, 235, 0.93);
    margin-top: -200px; 
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3e8e41;
}

.resposta {
    font-weight: bold; 
    color: #1e90ff; 
    font-size: 1.2em; 
    margin-top: 10px;
}


@media (max-width: 768px) {
    body {
        background-size: cover;  
        background-position: top center; /
    }

    h1 {
        font-size: 28px;
    }

    .container {
        width: 90%;
        max-width: 450px;
        padding: 15px;
        margin-top: -150px;
    }

    input[type="text"] {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 10px 16px;
    }
}

@media (max-width: 480px) {
    body {
        background-size: contain; 
        background-position: center center; 
    }

    h1 {
        font-size: 24px;
    }

    .container {
        width: 95%;
        max-width: 320px;
        padding: 10px;
        margin-top: -100px;
    }

    input[type="text"] {
        font-size: 12px;
        padding: 6px;
    }

    button {
        font-size: 12px;
        padding: 8px 12px;
    }
}
